<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js" defer></script>

    <link rel="icon" href="/assets/images/favicon.ico" />
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% include "partials/navbar.html" %}
    <main tabindex="-1" id="main-content">
      {% block content %} {{ content | safe }} {% endblock %}
    </main>
    {% include "partials/footer.html" %}
  </body>
</html>
