@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  @apply text-blue-600;
}

#mainContent > h2 {
  @apply mb-4 mt-8 text-2xl font-semibold;
}

#mainContent > h3,
#mainContent > h4 {
  @apply mb-4 mt-8 text-xl font-semibold;
}

#mainContent > p {
  @apply mb-4 text-base font-normal text-gray-600;
}

#mainContent > p > a,
#mainContent > ul > li > a,
#mainContent > ol > li > a,
#mainContent > ul > li > p > a,
#mainContent > ol > li > p > a {
  @apply font-medium text-gray-700 underline decoration-blue-600 decoration-1 
       underline-offset-2;
}

#mainContent > p > a:hover,
#mainContent > ul > li > a:hover,
#mainContent > ol > li > a:hover,
#mainContent > ul > li > p > a:hover,
#mainContent > ol > li > p > a:hover {
  @apply text-gray-900 decoration-2;
}

#mainContent > p > code,
#mainContent > ul > li > code,
#mainContent > ol > li > code {
  @apply break-all px-1 font-mono text-sm text-blue-600;
}

#mainContent > ul {
  list-style: disc;
}

#mainContent > ol {
  list-style: decimal;
}

#mainContent p > strong {
  @apply text-gray-900;
}

#mainContent > ul,
#mainContent > ol {
  padding-left: 1rem;
}

#mainContent > ul > li,
#mainContent > ol > li {
  @apply mb-4 text-base font-normal text-gray-600;
}
