/* General */

body {
	min-height: 100vh; /* To make it possible to align the links section to the bottom on short pages */
}

/* Navbar */

.navbar-nav {
	padding-top: 1em;
}

@media (min-width: 768px) { 
	.navbar-nav {
		padding-top: 0;
	}
}

/* Images */

#avatar {
	border-radius: 50%;
}

#support a:hover svg {
	transition: transform .2s;
	transform: scale(1.05);
}

#support a:hover img {
	transition: transform .2s;
	transform: scale(1.05);
}

