<footer class="container-md text-center mt-auto pt-4">
  <small>
    <div class="d-inline-block">
      <div class="d-flex flex-wrap gap-4 gap-md-5 text-start">
        {% for item in footer.items %}
        <div>
          <h5>
            <a href="{{ item.url }}" class="text-decoration-none text-dark">
              {{ item.text }}
            </a>
          </h5>
          <ul class="list-unstyled">
            {% for subitem in item.items %}
            <li>
              <a
                class="text-muted text-decoration-none"
                href="{{ subitem.url }}"
              >
                {{ subitem.text }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="text-center text-muted my-4">Willem Sleegers &copy; 2022</div>
  </small>
</footer>
