<footer class="container-md text-center mt-auto pt-4">
  <small>
    <div class="d-inline-block">
      <div class="d-flex flex-wrap gap-5 text-start">
        <div>
          <h5>
            <a href="/r-package.html" class="text-decoration-none text-dark">
              R package
            </a>
          </h5>
          <ul class="list-unstyled">
            <li>
              <a
                class="text-muted text-decoration-none"
                href="https://cran.r-project.org/web/packages/tidystats/index.html"
              >
                CRAN
              </a>
            </li>
            <li>
              <a
                class="text-muted text-decoration-none"
                href="https://willemsleegers.github.io/tidystats/"
              >
                Documentation
              </a>
            </li>
            <li>
              <a
                class="text-muted text-decoration-none"
                href="https://github.com/WillemSleegers/tidystats"
              >
                Github
              </a>
            </li>
            <li>
              <a
                class="text-muted text-decoration-none"
                href="https://github.com/WillemSleegers/tidystats/issues"
              >
                Bug report
              </a>
            </li>
          </ul>
        </div>
        <div>
          <h5>
            <a href="/word-add-in.html" class="text-decoration-none text-dark">
              Word add-in
            </a>
          </h5>
          <ul class="list-unstyled">
            <li>
              <a
                class="text-muted text-decoration-none"
                href="https://appsource.microsoft.com/en-us/product/office/WA200002476?tab=Overview"
              >
                AppSource
              </a>
            </li>
            <li>
              <a
                class="text-muted text-decoration-none"
                href="https://github.com/WillemSleegers/tidystats-Word-add-in"
              >
                Github
              </a>
            </li>
            <li>
              <a
                class="text-muted text-decoration-none"
                href="https://github.com/WillemSleegers/tidystats-Word-add-in/issues"
              >
                Bug report
              </a>
            </li>
          </ul>
        </div>
        <div>
          <h5>
            <a href="/support.html" class="text-decoration-none text-dark">
              Support
            </a>
          </h5>
          <ul class="list-unstyled">
            <li>
              <a href="/FAQ.html" class="text-muted text-decoration-none">
                FAQ
              </a>
            </li>
            <li>
              <a href="/tips.html" class="text-muted text-decoration-none">
                Tips & Tricks
              </a>
            </li>
            <li>
              <a
                class="text-muted text-decoration-none"
                href="https://twitter.com/tidystats"
              >
                Twitter
              </a>
            </li>
            <li>
              <a
                class="text-muted text-decoration-none"
                href="mailto:tidystats@gmail.com"
              >
                E-mail
              </a>
            </li>
          </ul>
        </div>
        <div>
          <h5>
            <a href="/about.html" class="text-decoration-none text-dark">
              About
            </a>
          </h5>
          <ul class="list-unstyled">
            <li>
              <a href="/me.html" class="text-muted text-decoration-none">
                Me
              </a>
            </li>
            <li>
              <a href="/citation.html" class="text-muted text-decoration-none">
                Citation
              </a>
            </li>
            <li>
              <a href="/privacy.html" class="text-muted text-decoration-none">
                Privacy
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center text-muted my-4">Willem Sleegers &copy; 2022</div>
  </small>
</footer>
