<nav class="navbar navbar-expand-lg">
  <div class="container-md">
    <img
      src="/assets/images/tidystats-logo.svg"
      width="50"
      height="40"
      alt="tidystats logo"
    />
    <a href="/" class="navbar-brand nav-link ms-1"> tidystats </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul
        class="navbar-nav d-flex flex-row flex-wrap py-2 justify-content-center"
      >
        {% for item in navigation.items %}
        <li class="nav-item mx-2">
          <a class="nav-link" href="{{ item.url }}">{{ item.text }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
